.Card {
  text-align: center;
  background-color: black;
}
.cardHading {
  color: #fff;
  font-weight: 300;
}
.imge {
  width: 100%;
  height: 100%;
}
.Button {
  background-color: red;
  color: #fff;
  padding: 1vh 5vh;
  margin: 1vh;
  border-radius: 10px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}
.Button:hover {
  background-color: #fff;
  color: black;
}
.span {
  width: 200px;
  height: 100px;
  display: block;
}
